services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    command: pnpm --filter backend start:dev
    env_file:
      - apps/backend/.env
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - redis

  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    command: pnpm --filter frontend dev --host
    volumes:
      - .:/app
    ports:
      - "3001:3001"
    depends_on:
      - backend
